APP_ENV=development
SERVER_PORT=8081
GRPC_PORT=9091

DB_HOST=postgres
DB_SSLMODE=disable
POSTGRES_USER=admin
POSTGRES_PASSWORD=1710058327
POSTGRES_PORT=5432
POSTGRES_DB=codecollab

JWT_SECRET=
JWT_EXPIRY=24h

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://admin:1710058327@postgres:5432/codecollab?sslmode=disable