APP_ENV=development

# Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=1710058327
POSTGRES_DB=codecollab
POSTGRES_PORT=5432

# Только для Go приложения
DB_HOST=postgres
DB_SSLMODE=disable

# Auth
JWT_SECRET=change_me_to_long_random_string
JWT_EXPIRY=24h

# Server
SERVER_PORT=8080
APP_ENV=development

# Goose миграции
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://admin:1710058327@postgres:5432/codecollab?sslmode=disable