APP_ENV=development
SERVER_PORT=8081
GRPC_PORT=9091

POSTGRES_HOST=postgres
POSTGRES_SSLMODE=disable
POSTGRES_USER=admin
POSTGRES_PASSWORD=11111111
POSTGRES_PORT=5432
POSTGRES_DB=codecollab

JWT_SECRET=
JWT_EXPIRY=24h

OTP_SECRET=
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=CodeCollab <no-reply@codecollab.local>
SMTP_TLS=starttls