APP_ENV=development
SERVER_PORT=8081
GRPC_PORT=9091

POSTGRES_HOST=postgres
POSTGRES_SSLMODE=disable
POSTGRES_USER=admin
POSTGRES_PASSWORD=11111111
POSTGRES_PORT=5432
POSTGRES_DB=codecollab

JWT_SECRET=
JWT_EXPIRY=24h